<div class="tweetEntry-tweetHolder">
  <h2>Mostrar Tweets</h2>

  <div class="tweetEntry">
    <% @tweets.each do | tw | %>
      <div class="tweetEntry-content">
        <strong class="tweetEntry-fullname"> <%= truncate(tw.user_name) %> </strong>
        <span class="tweetEntry-username"> @ <b> <%= truncate(tw.user_screen_name) %> </b> </span> 
        <div class="tweetEntry-text-container"> <%= truncate(tw.tweet_desc) %> </div>
      </div>
    <% end %>
  </div>
</div>