<!-- app/views/tweets/new.html.erb -->

<html>
  <body>

    <%= form_with(url: "/tweets_search", method: "post") do %>
        <%= label_tag(:hashtag, "Search Hashtag:") %>
        <%= text_field_tag(:hashtag) %>

        <%= submit_tag("Buscar") %>
    <% end %>

  </body>
</html>

