@import "bootstrap";

.tweetEntry-tweetHolder {
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  width: 588px;
  margin: auto;
  border-radius: 5px;
}

.tweetEntry {
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
  min-height: 51px;
  padding: 9px 12px;
}

.tweetEntry-content {
  display: block;
  font-size: 14px;
  margin-left: 58px;
  font-size: 14px;
}

.tweetEntry-fullname {
  font-weight: bold;
  font-size: 14px;
  color: #292f33;
  padding: 0px;
}

.tweetEntry-username {
  font-weight: bold;
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}

.tweetEntry-text-container {
  font-size: 14px;
  color: #292f33;
  line-height: 18px;
}